/* Pour Chrome, Safari, et Opera */
body::-webkit-scrollbar {
    width: 8px; /* Taille minimale pour la scrollbar, ajustez si nécessaire */
}

body::-webkit-scrollbar-track {
    background: transparent; /* Piste de la scrollbar transparente */
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0); /* Barre de défilement totalement transparente */
    border-radius: 10px; /* Bordures arrondies pour invisibilité */
    border: 3px solid transparent; /* Bord transparent pour mieux cacher */
}

/* Pour Firefox */
body {
    scrollbar-width: thin; /* Réduit la largeur de la scrollbar */
    scrollbar-color: transparent transparent; /* Cache complètement la couleur */
}

/* Pour IE et Edge */
body {
    -ms-overflow-style: none; /* Cache la scrollbar dans IE et Edge */
}




body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



header .logo {
    font-size: 24px;
    font-weight: bold;
}

header nav a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    
}

/* Profil */
.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #512da8;
}

.profile-header h2 {
    margin: 10px 0 5px;
    color: #333;
}

#followers-count {
    font-size: 14px;
    color: #666;
}

#edit-profile-btn {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #512da8;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#edit-profile-btn:hover {
    background-color: #3e239c;
}

/* Publications */
.publications {
    width: 90%;
    max-width: 800px;
    margin-top: 30px;
}

.publications h3 {
    text-align: center;
    color: #333;
}

#user-posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 120px;
    margin-top: 20px;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 5px;
}

.post-video {
    width: 100%;
    max-height: 200px;
    border-radius: 8px;
    margin-bottom: 5px;
    object-fit: cover;
}


.post p {
    font-size: 14px;
    color: #333;
    text-align: center;
}

/* Modale de paramètres */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
    margin-bottom: 20px;
    text-align: center;
}

.modal-content label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.modal-content input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.modal-content button {
    padding: 10px 20px;
    background-color: #512da8;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.modal-content button:hover {
    background-color: #3e239c;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #aaa;
}

.close:hover {
    color: #333;
}


#accueil {
    background-color: #7DD856; /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte */
    padding: 10px 20px; /* Espacement interne du bouton */
    border: none; /* Supprimer les bordures */
    border-radius: 8px; /* Bords arrondis */
    text-decoration: none; /* Supprimer la décoration du lien */
    font-weight: bold; /* Texte en gras */
    display: inline-block; /* Pour le comportement des boutons */
    cursor: pointer; /* Curseur en forme de main */
    transition: background-color 0.3s ease; /* Transition pour l'effet au survol */
    font-size: 14px;
}